<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name  %></title>
  <link rel="stylesheet" href="/manga.css">
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>登場人物</td><td><%= data.name %></td></tr>
    <tr><td>生誕</td><td><%= data.birth %></td></tr>
    <tr><td>死没</td><td><%= data.death %></td></tr>
    <tr><td>概要</td><td><%= data.intro %></td></tr>
    <tr><td>主な思想</td><td><%= data.thought %></td></tr>
    <tr><td>著作物</td><td><%= data.book %></td></tr>
    <tr><td>登場話</td><td><%= data.story %></td></tr>  
</table>
  <a href="/manga">一覧に戻る</a>
</body>
</html>