<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name  %></title>
  <link rel="stylesheet" href="/manga.css">
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>登場人物</td><td><%= data.name %></td></tr>
    <tr><td>生誕</td><td><%= data.birth %></td></tr>
    <tr><td>死没</td><td><%= data.death %></td></tr>
    <tr><td>概要</td><td><%= data.intro %></td></tr>
    <tr><td>著作物</td><td><%= data.book %></td></tr>
    <tr><td>登場話</td><td><%= data.story %></td></tr>  
</table>
<div class¥="philosophy-container">
    <h3>主な思想</h3>
    <% for( let item of data.thoughts ) { %>
        <section class="philosophy-card">
          <h4><%= item.title %></h4>
          <p><%= item.description %></p>
        </section>
    <% } %>
      
</div>
  <a href="/manga">一覧に戻る</a>
  <a href="/manga/delete/:number" onclick="return confirm('本当にこの哲学者を削除してもよろしいですか？');">
    削除
  </a>
</body>
</html>